@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.index {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card {
  padding: 1em;
}

.input-box {
  padding: 7px;
}

.logo-type {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  font-weight: 600;
  height: 40px;
  left: 26px;
  letter-spacing: -0.36px;
  line-height: 40px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.87);
}

.icon-bar-graph {
  height: 24px;
  left: 1764px;
  position: absolute;
  top: 29px;
  width: 24px;
}

.icon-user {
  height: 24px;
  left: 1816px;
  position: absolute;
  top: 29px;
  width: 24px;
}